.todo {
  height: 48px;
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  user-select: none;
}

.todo * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

fa-icon {
  cursor: pointer;
}