<div class="todo">
  <div (click)="toggleTodo()">
    <fa-icon [icon]="faSquare" *ngIf="!todo.completed"></fa-icon>
    <fa-icon [icon]="faCheckSquare" *ngIf="todo.completed"></fa-icon>
  </div>
  <span>{{todo.title}}</span>
  <fa-icon [icon]="faTrash" [styles]="{'color': '#f00'}" (click)="deleteTodo()"></fa-icon>
</div>