<div class="add-todo-wrap">
  <input #input type="text" class="add-todo" placeholder="Adicionar Tarefa..." (keydown.enter)="add(input)">
</div>
<div class="title-wrap">
  <fa-icon [icon]="faCalendarCheck"></fa-icon>
</div>
<div class="todos-wrap">
  <todo *ngFor="let todo of todos" [todo]="todo" (toggle)="toggle($event)" (remove)="remove($event)"></todo>
  <h3 *ngIf="todos.length === 0">Nenhuma tarefa cadastrada</h3>
</div>