.add-todo-wrap {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.add-todo {
  width: 100%;
  font-size: 24px;
  border: 1px solid #fff;
  border-bottom: 1px solid #444;
  border-radius: 3px;
  outline: none;
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 32px;
  border-bottom: 1px solid #444;
}

.title {
  margin-left: 15px;
}

.todos-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}

todo {
  width: 100%;
  border: 1px solid #444;
  margin: 2px 0;
}